<p id="notice"><%= notice %></p>

<h1>Users</h1>

  <div class="usuario">
        <tbody>
          <% @users.each do |user| %>
            <ul>
              <li>Email: <%= user.email %></li>
              <li>Password: <%= user.password %></li>
              <li>Picture: <%= user.picture %></li>
              <li>Bio: <%= user.bio %></li>
              <li>City: <%= user.city %></li>
              <li>Country: <%= user.country %></li>
              <li>Role: <%= user.role %></li>
              <li><%= link_to 'Show', user %></li>
              <li><%= link_to 'Edit', edit_user_path(user) %></li>
              <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New User', new_user_path %>
  </div>