  <div class="flex-column">
    <div class="col-lg-8">

      <p id="notice"><%= notice %></p>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
      <div class="row">
            
            
           <div class="col-md-7 ">

    <div class="panel panel-default">
      <div class="panel-heading">
        <ul>  
          <h4 >User Profile</h4>
          
           
      </div>
       <div class="panel-body">  
        <div class="box box-info">         
                <div class="box-body">
                         <div class="col-sm-6">
                        <% if @user.avatar.attached? %>
                           <div  align="center"> <img src="<%= (url_for(@user.avatar))%>" id="profile-image1" class="img-circle img-responsive">
                       
                        <% else %>
                        <div  align="center"> <img alt="User Pic" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" id="profile-image1" class="img-circle img-responsive">
                        <% end %>

                    <!--Upload Image Js And Css-->
                         </div>
                  <br>
                  <!-- /input-group -->
                </div>
                <div class="col-sm-6">
                <h4 style="color:#00b1b1;"><%=@user.name%> <%=@user.lastname%></h4></span>
                <span><p><i> "<%=@user.bio%>"</i></p></span>
                 
                  
                  <div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 "><%=@user.name%></div>
                  <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> <%=@user.lastname%></div>
                  <div class="col-sm-5 col-xs-6 tital " >Email:</div><div class="col-sm-7"><%=@user.email%></div>
                  <div class="col-sm-5 col-xs-6 tital " >Country:</div><div class="col-sm-7"><%=@user.country%></div>
                  <div class="col-sm-5 col-xs-6 tital " >City:</div><div class="col-sm-7"><%=@user.city%></div>
                  <div class="col-sm-5 col-xs-6 tital " >Last Access:</div><div class="col-sm-7"><%= @user.last_sign_in_at %></div>
                </div>

                <div class="clearfix"></div>
                <hr style="margin:5px 0 5px 0;">
        
    <div class="col-sm-10 col-xs-6 tital "  >STATISTICS</div><div class="col-sm-7"><a></a></div></br>
                  <p>
                  <div class="col-sm-5 col-xs-6 tital " >#Likes:</div><div class="col-sm-7"><a><%= @user.likes.count  %> </a></div>
                  <div class="col-sm-5 col-xs-6 tital " >#Posts:</div><div class="col-sm-7"><%=@user.posts.count%></div>
                  <div class="col-sm-5 col-xs-6 tital " >#Comments:</div><div class="col-sm-7"><%=@user.comments.count%></div>
                  </p>              



       
     </div>
  </div>
  </div>
  </div>
  </div>


</br>
<div class="col-lg-8">
<div class="text-center"><h2>Posts de <%=@user.name%> </h2></div>
</br>
<div>
<div>
 <% @posts.each do |post| %>
  <% if (post.user.id == @user.id)%>


            <article class="row">
              <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                  <!--POST CON AVATAR DEL USUARIO-->
                   <% if (post.user.avatar.attached? )%>
                     <image class="img-responsive" src="<%= (url_for(post.user.avatar))%>">        
                   <%else%>
                      <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />  
                    <%end%>            
                  <figcaption class="text-center" href="/user/show" > <%= post.user.name %>  </figcaption> <!-- LEYENDA DE LA IMAGEN:  <%=post.user.email%>-->
                </figure>
              </div>
              <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left">
                  <div class="panel-body">

                    <p class="text-right">
                      <!--<a><%= link_to 'Show', post %> </a>-->
                      <% if user_signed_in? %>
                        <% if (post.user.id == current_user.id || current_user.role == "admin")%>
                          <a><%= link_to 'Edit', edit_post_path(post) %> </a>
                          <a><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> </a>
                        <% end %>
                      <% end %>
                    </p>
                    <div class="col-md-10 col-sm-10">
                      <header class="text-left">
                        <h4 class="comment-user" ><%= post.user.name %> <%= post.user.lastname %> on <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%= post.updated_at %> </time></h4>
                      </header> 
                        <h5><%= post.user.city %> </h5>
                      </header>
                      <br />
                      <h4>Title:  <%= post.title %></h4> 
                    <div class="comment-post">
                      <p>
                        <i>"<%=post.description%>"</i>
                       <br />
                        <% if post.avatar.attached? %>
                          <span class="container" >
                            <image src="<%= (url_for(post.avatar))%>"></image>
                          </span>
                         <br />
                        <% end %>
                        <br />
                      </p>
                      <p class= "text-left">
                      <a><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></a>
                       <a><% pre_like = post.likes.find { |like| like.user_id == current_user.id} %></a>
                      <% if pre_like %>
                        <a><%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %></a>
                      <% else %>
                        <a><%= button_to 'Like', post_likes_path(post), method: :post %><br /></a>
                      <% end %>
                      <br />
                               <!-- COMMENTS    !!!!-->
                     <%= link_to "Add a new Comment", new_comment_path(post_id: post.id) %><br /><br />
                     <br/>
                    </div>
                    <h5>COMMENTS</h5>
                    <br/>


                    
                      <% post.comments.each do |comment| %> 
                        <div class="comment"> 
                          <div class="col-md-2 col-sm-2 hidden-xs"></div>
                          <div class=col-xs->
                            <% if (comment.user.avatar.attached? )%>
                              <span><image id="profile-image1" class="img-circle img-responsive" src="<%= (url_for(comment.user.avatar))%>" style="width:30px;height:30px;"> </span> 
                            <%else%>
                             <span><img id="profile-image1" class="img-circle img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" style="width:30px;height:30px;" >
                            <%end%>
                          </div>
                          <div class="col-md-2 col-sm-2 hidden-xs"></div>

                          <div class="col-xs-">
                            <span><%= comment.user.name %></span> on <span><%= comment.updated_at %></span><br />
                            <div class="col-md-2 col-sm-2 hidden-xs"></div>
                            <span><i>"<%= comment.comment %>"</i></span><br />  
                            <% if user_signed_in? %>
                              <% if (comment.user.id == current_user.id || current_user.role == "admin")%>
                                <p class="text-right">
                                  <a><%= link_to 'Edit', edit_comment_path(comment) %> </a>
                                  <a><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %> </a>
                                </p>
                              <% end %><br /> <br />
                            <% end %>
                          </div>
                          <% end %>
                        
                      </div>  

  <%end%>
<%end%>

</div>
</div>
</div>
</div>


</div>


<!--

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    <p>
      <strong>Lastname:</strong>
      <%= @user.lastname %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= @user.password %>
    </p>

    <p>
      <strong>Picture:</strong>
      <%= @user.picture %>
    </p>

    <p>
      <strong>Bio:</strong>
      <%= @user.bio %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @user.city %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @user.country %>
    </p>

     <p>
      <strong>Last Access:</strong>
      <%= @user.last_sign_in_at %>
    </p>

    <p>
      <strong>Role:</strong>
      <%= @user.role %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', profile_userprofile_path %>
  </div>
</div>
-->