<%= form_with(model: flag_post, local: true) do |form| %>
  <% if flag_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flag_post.errors.count, "error") %> prohibited this flag_post from being saved:</h2>

      <ul>
      <% flag_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <br />

  <div class="field">
    <%= form.hidden_field :post_id %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason %>
  </div>
  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
