<p id="notice"><%= notice %></p>

<h1>Flag Posts</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>User</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flag_posts.each do |flag_post| %>
      <tr>
        <td><%= flag_post.post %></td>
        <td><%= flag_post.user %></td>
        <td><%= flag_post.reason %></td>
        <td><%= link_to 'Show', flag_post %></td>
        <td><%= link_to 'Edit', edit_flag_post_path(flag_post) %></td>
        <td><%= link_to 'Destroy', flag_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flag Post', new_flag_post_path %>
