
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default arrow left">
        <div class="container">
          <h2 class="page-header">Leave a Post:
            <h5>
              <!--<%= link_to 'New Post', new_post_path %>-->
            </h5>
            <h4>
              <div class=row>
                  <div class="col-md-4">
                    <%= render 'form', post: @newpost %>
                    
                  </div>
              </div>
            </h4>
          </h2>
        </div>
      </div>

      <h2 class="page-header">Some Complains from our lovely users!
      </h2>
        <section class="comment-list">

          <!-- First Comment -->
          <% @posts.each do |post| %>

            <article class="row">
              <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                  <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
              
                  
                  <figcaption class="text-center"> </figcaption> <!-- LEYENDA DE LA IMAGEN:  <%=post.user.email%>-->
                </figure>
              </div>
              <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left">
                  <div class="panel-body">
                    <header class="text-left">
                      <div class="comment-user"><i class="fa fa-user"></i><%= post.user.name %> <%= post.user.lastname %> </div>
                      <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%= post.updated_at %> </time>
                    </header>
                    <div class="comment-post">
                      <p>
                        <%=post.description%>
                        <% if post.avatar.attached? %>
                          <span class="container" >
                            <image src="<%= (url_for(post.avatar))%>"></image>
                          </span>
                        <% end %>
                      </p>

                    </div>
                    <p class="text-right"><!--<a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a>-->
                      <a><%= link_to 'Show', post %> </a>
		      <% if user_signed_in? %>
			<% if (post.user.id == current_user.id)%>
			<a><%= link_to 'Edit', edit_post_path(post) %> </a>
                      <a><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> </a>
			<% end %>
		      <% end %>
                      
                    </p>
                  </div>
                </div>
              </div>
            </article>
<% end -%>

<br />
<br />
