<p id="notice"><%= notice %></p>

<h1>Some Complains from our lovely users!</h1>

  <div class="post">
    <% @posts.each do |post| %>
      <ul>
        <label>User:</label>
        <li><%= post.user.id %></li>
        <label>Comment:</label>
        <li><%= post.description %></li>
        <li><%= link_to 'Show', post %></li>
        <li><%= link_to 'Edit', edit_post_path(post) %></li>
        <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
  </div>

<br>

<%= link_to 'New Post', new_post_path %>
