<h1>My great web app for Complains!</h1>
<h1>Creadores:</h1>
<h1>-Israel Cea</h1>
<h1>-Johnny Donoso</h1>

<ul>

	<li><%=link_to("Create a user", :new_user) %></li>
	<li><%=link_to("See all users", :users)%></li>	
	<li><%=link_to("Create a post", :new_post) %></li>
	<li><%=link_to("See all posts", :posts)%></li>	
	<li><%=link_to("Create a comment", :new_comment) %></li>
	<li><%=link_to("See all comments", :comments)%></li>	
	<li><%=link_to("Create a vote", :new_vote) %></li>
	<li><%=link_to("See all votes", :votes)%></li>
	<li><%=link_to("Create a flag_post", :new_flag_po) %></li>
	<li><%=link_to("See all flag_posts", :flag_pos)%></li>		

</ul>
