<p id="notice"><%= notice %></p>

<h1>Flag Pos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flag_pos.each do |flag_po| %>
      <tr>
        <td><%= flag_po.user %></td>
        <td><%= flag_po.post %></td>
        <td><%= flag_po.reason %></td>
        <td><%= link_to 'Show', flag_po %></td>
        <td><%= link_to 'Edit', edit_flag_po_path(flag_po) %></td>
        <td><%= link_to 'Destroy', flag_po, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flag Po', new_flag_po_path %>
