<link rel="stylesheet" href="navStylesheet.css">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path do %>
      <%= image_tag ("logo80px.png"), link_to: root_path, width:'80 px', display: 'block'%>
      <% end %>

    </div>
    <ul class="nav navbar-nav">
      <!--<li ><a href="/" >Log In</a></li> <-->
      <li><a href="/posts">COMPLAINS</a></li>

      <!--<li><a href="/users/sign_out", data-method="delete" > Log Out </a></li>-->
      <!-- Search form -->
      <li><a><input class="form-control" type="text" placeholder="Search" aria-label="Search"></a></li>


      <% if user_signed_in? %>
        <li>
          Welcome, <%=current_user.name%> <!--[<%=current_user.email%>--> 
        </li>
        <li><a href="/users/sign_out", data-method="delete" > LogOut</a></li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path) %>
        </li>
      <% end %>


    </ul>
  </div>
</nav>


